<div class="poster">
 <img src="/assets/img/store/watch-poster4.png" alt="">
</div>

<div class="bestselled">
 <div class="container">
  <h2 class="bestselled_gen_header">Top-Selling Watches</h2>
  <h3 class="bestselled_header">A Comprehensive Review of the Most Popular Timepieces on the Market</h3>
 </div>
 <div class="bestselled_cont">
  <div class="item" *ngFor="let watch of bestselledWatches">
   <h2>{{watch.model}}</h2>
   <img [src]="watch.img" alt="image of watch">
   <p>{{watch.price}}</p>
  </div>
 </div>
</div>
<div class="watches">
 <h2 class="bestselled_gen_header">Comprehensive List of Watches from Top Brands</h2>
 <div class="container">
  <form>
   <label>
    <input type="radio" name="brand" value="Rolex" checked  [(ngModel)]="selectedBrand">
    <span>Rolex</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Patek Philippe"  [(ngModel)]="selectedBrand">
    <span>Patek Philippe</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Audemars Piguet" [(ngModel)]="selectedBrand">
    <span>Audemars Piguet</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Cartier" [(ngModel)]="selectedBrand">
    <span>Cartier</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Hublot" [(ngModel)]="selectedBrand">
    <span>Hublot</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Breitling"  [(ngModel)]="selectedBrand">
    <span>Breitling</span>
  </label>
   <label>
    <input type="radio" name="brand" value="TAG Heuer"  [(ngModel)]="selectedBrand">
    <span>TAG Heuer</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Jaeger-LeCoultre"  [(ngModel)]="selectedBrand">
    <span>Jaeger-LeCoultre</span>
  </label>
   <label>
    <input type="radio" name="brand" value="Omega"  [(ngModel)]="selectedBrand">
    <span>Omega</span>
  </label>
  </form>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader1 }}</h2>
    <h3>{{ rolexHeader.myheader2 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[0]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img1" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader3 }}</h2>
    <h3>{{ rolexHeader.myheader4 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[1]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader5 }}</h2>
    <h3>{{ rolexHeader.myheader6 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[2]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader7 }}</h2>
    <h3>{{ rolexHeader.myheader8 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[3]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader9 }}</h2>
    <h3>{{ rolexHeader.myheader10 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[4]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader11 }}</h2>
    <h3>{{ rolexHeader.myheader12 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[5]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader13 }}</h2>
    <h3>{{ rolexHeader.myheader14 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[6]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader15 }}</h2>
    <h3>{{ rolexHeader.myheader16 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[7]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="watch_header">
    <h2>{{ rolexHeader.myheader17 }}</h2>
    <h3>{{ rolexHeader.myheader18 }}</h3>
  </div>
  <div class="watches_cont">
    <div class="rolex">
      <div class="coll">
        <div class="item" *ngFor="let item of collections[8]?.cont">
          <h3>{{item.model}}</h3>
          <div class="img_cont">
            <img [src]="item.img" alt="">
          </div>
          <a (click)="showDiscoverComp()">Discover more</a>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<button (click)="showl()">Show the value of selectedBrand SDFGTDRFG</button>


<app-discover (sendmes)="showDiscoverComp()" *ngIf="showDiscoverComponent"></app-discover>