<section class="sect1">
 <img src="/assets/img/background01.png" #backImg alt="">
 <div class="text_cont" >
  <h1 #textConth1>Buy original watches <br> with <span>Time Luxe</span>.</h1>
  <p #textContp>
   Indulge in the luxury of choice with our diverse range of watch styles,
   including iconic models from Rolex, Patek Philippe, Audemars Piguet, and 
   more. Whether you seek understated sophistication or
    bold statement pieces, Time Luxe offers a watch to suit every taste and occasion.
  </p>
 </div>
</section>
<section class="sectBrand">
 <div class="container">
  <h2>Brands with which we cooperate.</h2>
 </div>
 <div class="container">
  <div class="brand_item">
   <div class="brand_name" #brandName>
    <div class="brand_cont">
     <img src="../../../assets/img/home/logo1.png" alt="">
     <img src="../../../assets/img/home/name1.png" alt="">
    </div>
    <p>
     Synonymous with luxury and precision, Rolex is an iconic Swiss 
     watchmaker revered for its timeless designs and impeccable craftsmanship.
    </p>
    
   </div>
   <div class="brand_desc" #brandDesc>
    <img src="../../../assets/img/home/watch1.png" alt="">
   </div>
  </div>
  <div class="brand_item">
 
   <div class="brand_desc" #brandDesc2>
    <img src="../../../assets/img/home/watch2.png" alt="">
   </div>
   <div class="brand_name" #brandName2>
    <div class="brand_cont">
     <img src="../../../assets/img/home/logo2.png" alt="">
     <img src="../../../assets/img/home/name2.png" alt="">
    </div>
    <p>
     Revered for its elegance and sophistication, Cartier creates timeless 
     timepieces that blend exquisite craftsmanship 
     with iconic design, making them a symbol of luxury and refinement.
    </p>
    
   </div>
  </div>
  
 </div>
 <div class="logos">
  <div class="logos-slide">
   <img src="/assets/img/home/brand/brand01.png" alt="">
   <img src="/assets/img/home/brand/brand02.png" alt="">
   <img src="/assets/img/home/brand/brand03.png" alt="">
   <img src="/assets/img/home/brand/brand04.png" alt="">
   <img src="/assets/img/home/brand/brand05.png" alt="">
  </div>
  <div class="logos-slide">
   <img src="/assets/img/home/brand/brand01.png" alt="">
   <img src="/assets/img/home/brand/brand02.png" alt="">
   <img src="/assets/img/home/brand/brand03.png" alt="">
   <img src="/assets/img/home/brand/brand04.png" alt="">
   <img src="/assets/img/home/brand/brand05.png" alt="">
  </div>
 </div>
</section>

<section class="choose">
  <div class="container">
    <h2>Why choose us<span #h2span>?</span></h2>
    <!-- <img src="/assets/img/home/detail01.png" class="detail" alt=""> -->
    <div class="inf2">
      <img src="../../../assets/img/home/inf2.png" alt="" >
    </div>
    <div class="inf1">
      <img src="../../../assets/img/home/inf1.png" alt="">
    </div>
    <div class="choose_cont">
      <div class="choose_item">
        <h3>Authenticity Guaranteed</h3>
        <p>
          At Time Luxe, authenticity is paramount. We meticulously 
          authenticate every luxury timepiece, ensuring only genuine
          products of the highest quality. With every purchase, 
          receive a Certificate of Authenticity for added peace of mind.
          Trust Time Luxe for genuine luxury watches, every time.
        </p>
      </div>
      <div class="choose_item">
        <h3>Curated Selection of Prestigious Brands</h3>
        <p>
          Our curated collection features timepieces from the world's
           most prestigious watch brands, including Rolex, Patek Philippe, 
           Audemars Piguet, and more. With our diverse range of
           styles and designs, customers can find the perfect watch to
            suit their taste and lifestyle.
        </p>
      </div>
      <div class="choose_item">
        <h3>Exceptional Customer Service</h3>
        <p>
          At Time Luxe, we prioritize customer satisfaction above all else.
          From browsing our collection to post-purchase support, 
          our friendly and professional
          team is committed to providing an exceptional 
          shopping experience every step of the way.
        </p>
      </div>
      <div class="choose_item">
        <h3>Investment in Timeless Luxury</h3>
        <p>
          A luxury timepiece is more than just a watch—it's an investment
          in timeless elegance and craftsmanship. With a watch from Time Luxe,
          you're not just buying a piece of jewelry; you're investing in a
          legacy of excellence and prestige that will be cherished 
          for generations to come.
        </p>
      </div>
    </div>
  </div>
</section>



<canvas class="canvas" #canvas></canvas>




<!-- --- -->


<button (click)="log()">Log the nativeElement of TextCont</button><br>
<button (click)="log()">Log the nativeElement of TextCont</button><br>
<button (click)="log()">Log the nativeElement of TextCont</button><br>
<p class="p">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac leo 
  quis justo elementum rhoncus. Nam ultricies tincidunt gravida. Sed gravida 
  sodales tellus id interdum. Nunc scelerisque est dui, et pellentesque eros
   faucibus at. Maecenas risus justo, finibus id ex sit amet, finibus cursus metus.
    Nam sit amet sodales risus. Nulla lobortis turpis at mi elementum, sed faucibus
     massa aliquet. In nisl quam, rhoncus vitae metus a, scelerisque tincidunt elit
     . Pellentesque lacinia sem purus. Aliquam imperdiet interdum mattis. Quisque at
      suscipit enim. Praesent non vulputate tellus. Vestibulum et 
  leo vel sem faucibus semper eget id turpis. Praesent eleifend massa non elit
   sodales, euismod vulputate leo facilisis. Donec ut nunc purus.

  Sed ac est a augue sodales pharetra sed et sapien. Maecenas imperdiet 
  convallis tempus. Quisque sit amet nulla semper, scelerisque velit eget,
   feugiat quam. Cras imperdiet vitae nisl eget hendrerit. Fusce fringilla 
   erat eget felis porta, quis tristique tortor eleifend. Nulla facilisi. Nam 
   felis tortor, suscipit quis velit vel, pharetra egestas nisl. Donec rutrum 
   suscipit nisl a egestas. In nunc ex, fermentum eget ex ac, lacinia scelerisque 
   magna. Curabitur id fermentum velit. Nulla placerat diam non lectus sollicitudin,
    mollis pellentesque lacus viverra. Etiam ac facilisis leo. Donec at interdum est
    . Nunc consequat dapibus posuere. Praesent non dignissim lorem.
</p>

<script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
      integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
      integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="./app.js"></script>

