img {
 width: 100%;
}
.discover {
 width: 100%;
 background-color: aliceblue;
 height: 100%;
 border-radius: 24px;
 position: relative;
 padding: 15px;
 overflow-y: scroll;
}
.close {
 position: absolute;
 top: 18px;
 right: 22px;
 font-size: 40px;
 cursor: pointer;
}





